.DivFix {
  margin-top: -10px;
}

.tw {
  white-space: pre-wrap;
}

.mt10 {
  margin-top: 10px;
}

.jcc {
  justify-content: center;
}

.tap {
  cursor: pointer;
}

.mt5 {
  margin-top: 5px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb5 {
  margin-bottom: 5px;
}

.mr8 {
  margin-right: 8px;
}

.p5 {
  padding: 5px;
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
}

.jcs {
  justify-content: flex-start;
}

.space {
  justify-content: space-between;
}

.jce {
  justify-content: flex-end;
}

.ais {
  align-items: flex-start;
}
.aie {
  align-items: flex-end;
}

.aic {
  align-items: center;
}

.clearGroup .vkuiGroup__inner {
  padding: 0 !important;
}
